@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.cont {
  position: relative;
  width: 100%;
  height: calc(mobile-vw($mobile-height) - var(--nav-height));
  height: calc(var(--vh, 1vh) * 100);
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);

  @include desktop {
    height: calc(desktop-vw($desktop-height) - var(--nav-height));
    height: calc(var(--vh, 1vh) * 100);
  }
}

.scene,
.title {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  top: 60%;
}

.scene {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  top: 50%;
  @include desktop {
    width: auto;
    height: 100%;
  }
}

.mouse-down {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: mobile-vw(16px);
  @include desktop {
    margin-top: desktop-vw(24px);
  }
}
